.c-home {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
    text-align: center;
  }
}